<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shared HTTP Server on {{primary_hostname}}</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <h1>Welcome to a Shared HTTP Server</h1>
    </header>
    <div>
        <h2>Preamble</h2>
        <p>This is a Sanic webservice that mindlessly shares the current root {{root}} on a host that primarily calls itself {{primary_hostname}} ({{primary_ip}}). You may browse the offered files at <a name="shared" href="/shared/">/shared/</a></p>
    </div>
    <div>
        {% if not nodes %}
            <h4 name="node-status">No Nodes Found</h4>
            <p>
                There are no other nodes detected using multicast address casts. Start up another sharedhttp service via <span style="text-decoration: bold">python -m sharedhttp {{server.http_port}} {{server.gossip_port}}</span>
            </p>
        {% else %}
            <h2 name="node-status">Node Status</h2>
        {% endif %}
        {% for node, ips in nodes %}
        <div name="node-{{node.random_seed}}">
            <h3>{{node.host.exploded}} on port {{node.port}}</h3>
            <small>(UUID: {{node.random_seed | base64 }})</small>
            {% if node.routeable %}
                <p>Reachable: <span style="color:green">Yes</span></p>
                <div>
                    <a href="http://{{node.host}}:{{node.port}}/">http://{{node.host}}:{{node.port}}/</a>
                </div>
                <div>
                    <a href="http://{{node.host}}:{{node.port}}/shared/">http://{{node.host}}:{{node.port}}/shared/</a>
                </div>
            {% else %}
                <p>Reachable: <span style="color:red">No</span></p>
                <!-- Todo: Support proxified requests -->
            {% endif %}
            <h4>IP Addresses:</h4>
            <ul>
                {% for ip in ips %}
                    <li>{{ip}} (Seen {{ips[ip].age_readable}} ago)</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</body>
</html>